[Unit]
Description=OGLplus / EAGine message bus router service

[Service]
ConditionPathExists=%h/.oglplus/systemd/environment
EnvironmentFile=%h/.oglplus/systemd/environment
Type=simple
WorkingDirectory=%h
ExecStart=${OGLPLUS_PREFIX}/bin/eagine-message_bus-router --config-group service
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
