[Unit]
Description=OGLplus / EAGine message bus Sudoku helper node
ConditionPathExists=%h/.oglplus/systemd/environment

[Service]
KeyringMode=private
NoNewPrivileges=true
PrivateDevices=false
PrivateNetwork=false
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=read-only
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
UMask=077
EnvironmentFile=%h/.oglplus/systemd/environment
Type=simple
WorkingDirectory=%h
ExecStart=%h/.oglplus/execute eagine-message_bus-sudoku_helper $OGLPLUS_SERVICE_ARGS
Restart=always
RestartSec=5
WatchdogSec=15
NotifyAccess=main

[Install]
WantedBy=default.target
